/****************/
/* INDEX.HTML */
/****************/
        
*, *::after, *::before {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --main-color:#9abefa;
    --background-gradient: radial-gradient(circle, #cab1ce 0%, #9abefa 60%);
    --button-gradient: -webkit-linear-gradient(left bottom, #f0a0ff, #f99eea, #fb9ed7, #f9a1c7, #f3a4ba, #efa5bb, #eaa7bc, #e6a8bc, #e3a8c7, #dca9d3, #d1abde, #c3aee9);
  }
        
.index {
    background-color: var(--main-color);
    background-image: var(--background-gradient);
    background-size: 100vh 100vh;
    background-repeat: no-repeat;
    animation-name: backgroundanimation;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}

@keyframes backgroundanimation {
    0% {
        background-position: -100% -100%;
    }
    25% {
        background-position: 150% 0%;
    }
    50% {
        background-position: 25% 100%;
    }
    75% {
        background-position: 0% 25%;
    }
    100% {
        background-position: -100% -100%;
    }
}

/**************/
/* NAVIGATION */
/**************/

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em 0em;
    position: fixed;
    width: 100%;
    z-index: 999;
}
        
.hamburgerMenu span {
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 5px;
    margin: 6px auto;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menuItems {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0;
    padding-top: 15em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menuItems button {
    font-size: 0.6rem;
    border: none;
    background-image: var(--button-gradient);
    padding: 2em 4em 2em 4em;
    border-radius: 3em;
}

.menuItems button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
        
.menuItems ul li {
    list-style: none;
    margin-bottom: 5rem;
}
        
.menuItems ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.875rem;
    font-weight: 300;
}

nav a {
    width: 7em;
    margin-left: 0.5rem;
    z-index: 1000;
}

.hamburgerMenu {
    display: block;
    cursor: pointer;
    z-index: 1000;
}

.hamburgerMenu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburgerMenu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburgerMenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
      
@media only screen and (min-width: 1050px) {
    nav {
        padding: 1.5em 2.5em 2.2em 2.5em;
        display: flex;
        flex-direction: row;
        height: auto;
    }
    
    .menuItems {
        opacity: 1;
        background: none;
        position: relative;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        height: auto;
        width: 50%;
    }

    .menuItems ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: initial;
        width: 70%;
    }

    .menuItems ul li {
        margin-bottom: 0;
    }

    .menuItems ul li a {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.6em;
    }

    .menuItems button {
        display: block;
        font-size: 0.6em;
        padding: 2em 4em 2em 4em;
        border-color: white;
        border-radius: 3em;
        border-style: solid;
        border-width: 1px;
        background: none;
        min-width: 12rem;
        margin-left: 3rem;
    }
            
    .menuItems button a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .hamburgerMenu {
        display: none;
    }
}


/*************/
/* SLIDE IMAGES */
/*************/

h1 {
    padding: 4em 0.5em 3em 0.5em;
    color: white;
    font-weight: 200;
    font-size: 2.45em;
}

.slideImages {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 2em 1em 2em 2em;
    text-align: center;
    position: relative;jxzz
}

.slideImages figure {
    margin-right: 1.5em;
}

.slideImages img {
    border-radius: 0.6em;
    margin-bottom: 0.5em;
    height: 13em;
    width: 19em;
}

.slideImages figure figcaption {
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.6em;
}

::-webkit-scrollbar {
    display: none;
}

/*************/
/* BLOCK CONTENT */
/*************/

.blockContent {
    background-color: black;
}

.blockContent h2 {
    padding: 3em 0em 1em 0.7em;
    color: white;
    font-weight: 200;
    font-size: 2.1em;
}

.blockContent p {
    padding: 0em 3em 3em 1.3em;
    color: white;
    font-weight: 200;
    letter-spacing: 0.02em;
    font-size: 1.2em;
}

.blockContent button {
    display: block;
    font-size: 0.6em;
    padding: 2em 4em 2em 4em;
    margin-left: 2rem;
    border-color: white;
    border-radius: 3em;
    border-style: solid;
    border-width: 1px;
    background: none;
}

.blockContent button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


/*************/
/* FEATURED BRANDS */
/*************/

.featuredBrands {
    background-color: black;
    padding: 3em 0em 1em 0.7em;
}

.featuredBrands h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    padding-top: 1em;
}

.featuredBrands hr {
    width: 100%;
    background-color: white;
    height: 1px;
    border: none;
    display: block;
}

.logos {
    display: flex;
    flex-direction: row;
    padding: 2em;
    gap: 2em;
}

.logos img{
    width: 5em;
}

.logos img:last-of-type {
    display: none;
}

/*********************/
/* HOWITWORKS.HTML */
/*********************/

.howItWorks {
    background-color: black;
}

.howItWorks header {
    background-color: black;
}

.howItWorks nav{
    position: initial;
}

.tabInfo {
    background-color: #cdb482;
    margin-top: 7em;
    padding-bottom: 3em;
}

.tabInfo span {
    position: absolute;
    padding: 2rem;
    border-radius: 50rem;
    border-style: solid;
    border-width: 1px;
    margin: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabInfo h2{
    padding: 4em 0em 1em 0.7em;
    color: black;
    font-weight: 200;
    font-size: 2.1em;
}

.tabInfo p {
    padding: 0em 3em 2em 1.3em;
    color: black;
    font-weight: 200;
    letter-spacing: 0.02em;
    font-size: 1.2em;
}

.tabInfo img {
    border-radius: 1.5em;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    overflow: hidden;
    padding: 1em;
}